<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Stylesheets -->
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/lib/bootstrap.css'/>

    <!-- Javascripts -->
    <script type="text/javascript" src="/js/lib/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/js/lib/backbone.js"></script>
    <script type="text/javascript" src="/js/lib/fabric.js"></script>
</head>
<body>
<canvas id="design-plate">
    Sorry your browser doesn't support canvas. Please install nice browser like Google Chrome, Opera or Firefox.
</canvas>
</body>
</html>